# How in-demand skills trending for Machine Learning Engineer in India?

## Steps:
1. **Aggregate skill counts monthly**
2. **Re-analyze based on percentage of total jobs**
3. **Calculate and plot the monthly skill demand**

In [1]:
import pandas as pd
import ast

from datasets import load_dataset
import matplotlib.pyplot as plt 
import seaborn as sns

dataset = load_dataset("lukebarousse/data_jobs")
df = dataset["train"].to_pandas()

df["job_posted_date"] = pd.to_datetime(df["job_posted_date"])
df["job_skills"] = df["job_skills"].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x) # job skills coloumn is converted to list

In [13]:
df_ml_India = df[(df["job_country"] == "India") & (df["job_title_short"] == "Machine Learning Engineer")].copy()
df_ml_India.sample(3)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
105683,Machine Learning Engineer,Machine Learning Engineer,"Pune, Maharashtra, India",via BeBee India,Full-time,False,India,2023-11-20 00:12:53,False,False,India,None,NaN,NaN,Tech Mahindra (formerly Mahindra Satyam),"[python, tensorflow, pytorch, keras]","{'libraries': ['tensorflow', 'pytorch', 'keras..."
538231,Machine Learning Engineer,ML ops Engineer,"Bengaluru, Karnataka, India",via LinkedIn,Full-time,False,India,2023-05-01 19:13:12,False,False,India,None,NaN,NaN,Recruise India Consulting Pvt Ltd,"[python, r, aws, redshift, pyspark, scikit-lea...","{'analyst_tools': ['datarobot'], 'cloud': ['aw..."
194942,Machine Learning Engineer,Senior MEAL Analyst,Anywhere,via LinkedIn,Full-time,True,India,2023-04-26 15:20:05,False,False,India,None,NaN,NaN,Waliku,"[sql, r, sql server, azure, power bi, tableau,...","{'analyst_tools': ['power bi', 'tableau', 'dax..."

In [22]:
df_ml_India["month_no"] = df_ml_India["job_posted_date"].dt.month

df_ml_India_exploded = df_ml_India.explode("job_skills")

df_ml_India_exploded.sample(3)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,mionth_no,month_no
594148,Machine Learning Engineer,Lead ML Engineer,"Gurugram, Haryana, India",via LinkedIn,Full-time,False,India,2023-07-29 09:10:14,False,False,India,None,NaN,NaN,S&P Global,python,"{'databases': ['redis'], 'libraries': ['numpy'...",7,7
641410,Machine Learning Engineer,Cognizant - Machine Learning Engineer - Data S...,"Hyderabad, Telangana, India",via Shine,Full-time,False,India,2023-11-24 12:11:01,False,False,India,None,NaN,NaN,Cognizant Technology Solutions,pytorch,"{'analyst_tools': ['datarobot'], 'cloud': ['aw...",11,11
22059,Machine Learning Engineer,Data Science & ML Engineering work from home j...,Anywhere,via LinkedIn,Full-time,True,India,2023-01-26 13:13:40,False,False,India,None,NaN,NaN,Accurest Consulting,aws,"{'cloud': ['aws'], 'libraries': ['kafka'], 'pr...",1,1

In [35]:
df_ml_India_pivot = df_ml_India_exploded.pivot_table(index="month_no", columns="job_skills", aggfunc="size", fill_value=0)
df_ml_India_pivot.loc["total"] = df_ml_India_pivot.sum() # to arrange in terms of total and not alphabetical order

df_ml_India_pivot = df_ml_India_pivot[df_ml_India_pivot.loc["total"].sort_values(ascending=False).index] #get the index of the sorted columns and then pass the same to the df_ml_India_pivot
df_ml_India_pivot = df_ml_India_pivot.drop("total") 
df_ml_India_pivot

job_skills,python,tensorflow,pytorch,aws,sql,azure,spark,docker,scikit-learn,kubernetes,...,elixir,ggplot2,rshiny,react.js,qlik,slack,svn,spring,terminal,vue
month_no,,,,,,,,,,,,,,,,,,,,,
1,49,28,21,20,28,23,12,14,9,13,...,0,0,0,1,0,0,0,0,0,0
2,29,13,15,12,14,10,15,10,7,7,...,0,0,0,0,0,0,0,0,0,0
3,29,18,12,12,11,13,11,5,7,6,...,0,0,0,0,0,0,0,0,0,0
4,36,19,16,17,21,12,11,8,11,14,...,0,1,1,0,0,0,0,0,0,1
5,22,9,9,13,11,6,7,7,6,7,...,0,0,0,0,0,0,0,0,0,0
6,37,18,19,12,14,9,8,9,12,7,...,0,0,0,0,0,0,0,0,0,0
7,39,22,22,23,21,10,13,14,10,13,...,0,0,0,0,1,0,0,0,0,0
8,31,15,15,14,18,15,7,9,6,11,...,0,0,0,0,0,0,0,0,0,0
9,48,21,23,15,13,11,15,13,14,15,...,0,0,0,0,0,0,0,1,0,0
10,61,37,42,31,24,27,17,17,17,13,...,0,0,0,0,0,0,1,0,0,0
11,35,25,27,18,13,14,9,10,10,7,...,0,0,0,0,0,0,0,0,1,0
12,71,42,45,33,25,26,18,20,25,20,...,1,0,0,0,0,1,0,0,0,0