In [3]:
import pandas as pd
import ast

from datasets import load_dataset
import matplotlib.pyplot as plt 

dataset = load_dataset("lukebarousse/data_jobs")
df = dataset["train"].to_pandas()

df["job_posted_date"] = pd.to_datetime(df["job_posted_date"]) # converting "job_posted_date" to date time format
df["job_skills"] = df["job_skills"].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x) # job skills cloumn converted to list

df_DA_India = df[(df["job_title_short"] == "Data Analyst") & (df["job_country"] == "India")]

In [4]:
df_DA_India.sample(5)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
231982,Data Analyst,Web Data Analyst,Anywhere,via LinkedIn,Full-time,True,India,2023-06-28 07:35:10,False,False,India,None,NaN,NaN,Xoriant,None,None
1860,Data Analyst,Data Analytics Internship in Hyderabad at Puls...,"Hyderabad, Telangana, India",via LinkedIn,Full-time,False,India,2023-01-05 13:32:22,False,False,India,None,NaN,NaN,Pulse Pharmaceuticals,"[sql, python, power bi, tableau]","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
590201,Data Analyst,Data Analyst,"Mumbai, Maharashtra, India",via LinkedIn,Full-time,False,India,2023-08-11 09:15:17,False,False,India,None,NaN,NaN,Spotify,"[python, r]","{'programming': ['python', 'r']}"
268777,Data Analyst,Collibra- Data Governance Analyst,Anywhere,via LinkedIn,Full-time,True,India,2023-06-20 07:11:10,False,False,India,None,NaN,NaN,Tata Consultancy Services,[sql],{'programming': ['sql']}
122523,Data Analyst,Data Analytics and Data Mentor,Anywhere,via LinkedIn,Full-time,True,India,2023-10-14 08:08:09,False,False,India,None,NaN,NaN,InsideAIML,"[python, r, tableau, power bi]","{'analyst_tools': ['tableau', 'power bi'], 'pr..."